@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-light-blue: #00c2c0;
  --color-light-orange: #f4b348;
  --color-light-gray: #a7bec8;
  --color-dark-gray: #1e353f;
  --color-dark: #182a32;
  --color-light: #fff;
  --color-dark-opacity: #182a3270;

  --shadow-primary: 0px 5px 2px 2px #00000040;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;  
}

body {
  overflow: hidden;
  background-color: var(--color-dark); 
}

.modal-vencedor section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100vw;
  height: 100vh;
  animation: modal-surgir 500ms cubic-bezier(0,-0.01,.39,1.37) forwards;
}

dialog{
  position: fixed;
  border: none;
  background-color: var(--color-dark-opacity);
  z-index: 999;
}

.modal-corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--color-dark-gray);
  gap: 16px;
  padding: 32px;
}
    

.modal-conteudo svg{
  width: 50px;
}

.jogar-novamente{  
  cursor: pointer;
  padding: 8px 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--color-light-orange);
  color: var(--color-dark-gray);
  box-shadow: var(--shadow-primary);
}

.modal-conteudo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  
}

.modal-conteudo h2{
  font-size: 2.5rem;
  color: var(--color-light-gray);
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 20px;
}

.container h1 {
  color: var(--color-light);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  gap: 16px;
}

.turno {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: var(--color-light-gray);
  background-color: var(--color-dark-gray);
  box-shadow: var(--shadow-primary);
  width: 120px;
  height: 40px;
  border-radius: 12px;
}

.turno h3{
  font-weight: 400;
}

.turno svg{
  fill: var(--color-light-gray);
  width: 16px;
} 



.icon-players {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.button-game-area svg{
  width: 60%;
  animation: surgir 300ms ease;
}

.button-game-area .icon-jogador-x, .icon-players .icon-jogador-x, .modal-conteudo .icon-jogador-x{
  fill: var(--color-light-blue);
}

.button-game-area .icon-jogador-o, .icon-players .icon-jogador-o, .modal-conteudo .icon-jogador-o{
  fill: var(--color-light-orange);
}

.button-game-area {
  all: unset;
  height: 120px;
  width: 120px;
  background-color: var(--color-dark-gray);
  cursor: pointer;
  box-shadow: var(--shadow-primary);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.reset,
.button-reset {
  display: flex;
  justify-content: center;
}

.button-reset {
  all: unset;
  background-color: var(--color-light-gray);
  cursor: pointer;
  box-shadow: var(--shadow-primary);
  border-radius: 10px;
  padding: 10px;
  display: flex;
}

.button-reset,
.icon-reset {
  display: flex;
  fill: var(--color-dark);
  align-items: center;
  width: 18px;
}

.placar-x,
.placar-o,
.placar-empate {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--color-dark-gray);
  box-shadow: var(--shadow-primary);
  border-radius: 15px;
  height: 70px;
  width: 120px;
}

.placar-empate {
  background-color: var(--color-light-gray);
}

.placar-o {
  background-color: var(--color-light-orange);
}

.placar-x {
  background-color: var(--color-light-blue);  
}

/* keyframes para animações */

@keyframes sumir {
  from{
    transform:scale(1);

  }
  to{
    transform:scale(0);

  }
}

@keyframes surgir {
  from{
    transform:scale(3);
    opacity: 0;

  }to{
    transform:scale(1);
    opacity: 1;
  
  }
}

@keyframes modal-surgir{
  from{
    transform:translateY(100vh);

  }to{
    transform: translateY(0);

  }
}

@keyframes modal-sumir{
  from{
    transform:translateY(0);

  }to{
    transform:translateY(100vh);
    
  }

}
